[submodule "_vendor/src/github.com/lomik/go-whisper"]
	path = _vendor/src/github.com/lomik/go-whisper
	url = https://github.com/lomik/go-whisper.git
[submodule "_vendor/src/github.com/BurntSushi/toml"]
	path = _vendor/src/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "_vendor/src/github.com/Sirupsen/logrus"]
	path = _vendor/src/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "_vendor/src/github.com/hydrogen18/stalecucumber"]
	path = _vendor/src/github.com/hydrogen18/stalecucumber
	url = https://github.com/hydrogen18/stalecucumber
[submodule "_vendor/src/github.com/alyu/configparser"]
	path = _vendor/src/github.com/alyu/configparser
	url = https://github.com/alyu/configparser
[submodule "_vendor/src/github.com/howeyc/fsnotify"]
	path = _vendor/src/github.com/howeyc/fsnotify
	url = https://github.com/howeyc/fsnotify.git
[submodule "_vendor/src/github.com/stretchr/testify"]
	path = _vendor/src/github.com/stretchr/testify
	url = https://github.com/stretchr/testify.git
[submodule "_vendor/src/github.com/benbjohnson/clock"]
	path = _vendor/src/github.com/benbjohnson/clock
	url = https://github.com/benbjohnson/clock.git
[submodule "_vendor/src/github.com/sevlyar/go-daemon"]
	path = _vendor/src/github.com/sevlyar/go-daemon
	url = https://github.com/sevlyar/go-daemon.git
[submodule "_vendor/src/github.com/kardianos/osext"]
	path = _vendor/src/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
[submodule "_vendor/src/github.com/NYTimes/gziphandler"]
	path = _vendor/src/github.com/NYTimes/gziphandler
	url = https://github.com/NYTimes/gziphandler
[submodule "_vendor/src/github.com/dgryski/carbonzipper"]
	path = _vendor/src/github.com/dgryski/carbonzipper
	url = https://github.com/dgryski/carbonzipper
[submodule "_vendor/src/github.com/dgryski/go-trigram"]
	path = _vendor/src/github.com/dgryski/go-trigram
	url = https://github.com/dgryski/go-trigram
[submodule "_vendor/src/github.com/dgryski/httputil"]
	path = _vendor/src/github.com/dgryski/httputil
	url = https://github.com/dgryski/httputil
[submodule "_vendor/src/github.com/gogo/protobuf"]
	path = _vendor/src/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "_vendor/src/github.com/kisielk/og-rek"]
	path = _vendor/src/github.com/kisielk/og-rek
	url = https://github.com/kisielk/og-rek
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/github.com/sevlyar/go-daemon"]
	path = vendor/github.com/sevlyar/go-daemon
	url = https://github.com/sevlyar/go-daemon
[submodule "vendor/github.com/kardianos/osext"]
	path = vendor/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "vendor/github.com/NYTimes/gziphandler"]
	path = vendor/github.com/NYTimes/gziphandler
	url = https://github.com/NYTimes/gziphandler
[submodule "vendor/github.com/dgryski/carbonzipper"]
	path = vendor/github.com/dgryski/carbonzipper
	url = https://github.com/dgryski/carbonzipper
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "vendor/github.com/dgryski/go-trigram"]
	path = vendor/github.com/dgryski/go-trigram
	url = https://github.com/dgryski/go-trigram
[submodule "vendor/github.com/dgryski/httputil"]
	path = vendor/github.com/dgryski/httputil
	url = https://github.com/dgryski/httputil
[submodule "vendor/github.com/kisielk/og-rek"]
	path = vendor/github.com/kisielk/og-rek
	url = https://github.com/kisielk/og-rek
[submodule "vendor/github.com/lomik/go-whisper"]
	path = vendor/github.com/lomik/go-whisper
	url = https://github.com/lomik/go-whisper
[submodule "vendor/github.com/howeyc/fsnotify"]
	path = vendor/github.com/howeyc/fsnotify
	url = https://github.com/howeyc/fsnotify
[submodule "vendor/github.com/alyu/configparser"]
	path = vendor/github.com/alyu/configparser
	url = https://github.com/alyu/configparser
[submodule "vendor/github.com/hydrogen18/stalecucumber"]
	path = vendor/github.com/hydrogen18/stalecucumber
	url = https://github.com/hydrogen18/stalecucumber
