language: go

go:
- 1.9.2

install: make submodules

script:
- make test

before_deploy:
- sudo apt-get install -y rpm ruby ruby-dev
- go get github.com/mitchellh/gox
- gem install fpm -v 1.8.1
- make gox-build
- make fpm-deb
- make fpm-rpm

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: OO3/6sJknXKzMVK5n188Vy/MYWuWXP7r6Dbl0nnym55340seo8n5e8EjrjC+AJ9LHa7vLM9VsiX6Q8klHHFXJxl9Vj3/Eh5c/WKWMohUSixTsI+M2ZaVJkvz0uwntC2/wgkYQEA4PIJn8/G8mxL74TxffsI/tlkxUXfeWijBmX4=
  file_glob: true
  file:
    - "*.{deb,rpm}"
    - "build/go-carbon-*"
  on:
    repo: lomik/go-carbon
    tags: true
