Source: go-carbon
Section: utils
Priority: optional
Maintainer: Roman Lomonosov <r.lomonosov@gmail.com>
Build-Depends: debhelper (>= 9), make
Standards-Version: 3.9.5
Homepage: https://github.com/lomik/go-carbon
Vcs-Git: https://github.com/lomik/go-carbon.git

Package: go-carbon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Golang implementation of Graphite/Carbon server
 Golang implementation of Graphite/Carbon server with classic architecture
